<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" type="text/css" href="src/styles/main.css">
</head>
<body>
  <div id="app">

    <header>
      <h1>
        {{ txt.title }}
      </h1>
    </header>

    <div class="main">

      <button
        v-on:click="convert">
        {{ txt.convert }}
      </button>

      <fieldset class="radios">
        <ul>
          <li v-for="option in options">
            <label class="radio">
              {{ option.text }}
              <input
                type="radio"
                v-model="language"
                v-bind:value="option.value" />
            </label>
          </li>
        </ul>
      </fieldset>

      <label class="checkbox">
        {{ txt.helpers }}
        <input
          type="checkbox"
          v-model="helpers" />
      </label>

      <label class="checkbox">
        {{ txt.markdown }}
        <input
          type="checkbox"
          v-model="markdown"/>
      </label>

      <div class="columns">

        <label class="column">
            {{ txt.input }}
            <textarea
              v-model="input">
            </textarea>
        </label>

        <label class="column">
          {{ txt.html }}
          <textarea
            v-model="output">
          </textarea>
        </label>

        <div class="column">
          {{ txt.rendered }}
          <div
            class="rendered"
            v-html="output">
          </div>
        </div>

      </div>

    </div>

    <footer>
        <a href="https://github.com/pansay/frenchify-vuejs">
          {{ txt.source }}
        </a>
    </footer>

  </div>
  <script src="dist/bundle.js"></script>
</body>
</html>
